/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {

  }


  /**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {

}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {

  .skills-wrapper{
    flex-direction: column;
  }

  .skills-ul{
    width: 100%;
    margin-bottom: 2.4rem;

  }

  .skills-ul:last-child{
    margin-bottom: 0;
  }

  .skills-ul li{
    width: 20rem;
    margin-bottom: .4rem;
  }

  .skills-ul li:last-child{
    margin-bottom: 0;
  }

  .hero-title{
    font-size: 2rem !important;
    line-height: 2.4rem;
  }

  .hero-layout{
    flex-direction: column;
    gap:4.8rem;
      }
    
      .hero-layout img{
        margin: 0 auto;
        border-radius: .6rem;
      }

      .hero-mtu-layout{
        margin-top: 3.2rem;

      }
  
      .hero-text-layout{
        padding-left: 0;
        border:none;
        align-items: center;
        background-color:white;
      }
}


/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {

  .container {
    padding: 0 1.6rem;
  }

  .flex-column{
    padding-left: 4.8rem;
  }

  .header{
    flex-direction: column;
    height: 14rem;
    /* padding-top: 2.4rem;
    padding-bottom: 2.4rem; */
  }

  .footer{
    height: 8rem;
  }

  .experience-sub-wrapper{
    flex-direction: column;
    gap:.8rem;
  }

  .experience-sub-wrapper h4{
    margin-left: 1.2rem;
  }

  /* .hero-layout{
    flex-direction: column;
    gap:4.8rem;
      }
    
      .hero-layout img{
        margin: 0 auto;
      } */
    
      .main-nav-list{
        display: none;
      }
    /* MOBILE NAVIGATION */
    .main-nav-list-icon{
      display: flex;
    }
    
    /* .hero-mtu-layout{
      margin-top: 3.2rem;
    }

    .hero-text-layout{
      padding-left: 0;
      border:none;
    } */

    .hero-pic{
      width: 60% !important;
    }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .hero-pic{
    width: 70% !important;
  }
    }
