/**************************/
/* HEADER */
/**************************/

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-gray);
    border-bottom: 1px solid var(--color-navy);
    height: 8rem;
    position: relative;
  }

  .footer{
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid var(--color-navy);
    border-bottom: 0 solid var(--color-navy);
    height: 5rem;
  }

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
    list-style: none;
    display: flex;
    gap: 4.8rem;
  }

  .name-logo{
    color: var(--color-blueblack);
    font-family: "Roboto Mono";
  }

  .name-pre-logo{
    color:#777;
    font-weight: 300;
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
  }
  
  .main-nav-link:link,
  .main-nav-link:visited {
    display: inline-block;
    color: var(--color-navy);
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
  }

  .main-nav-link:hover{
    color: #fff;
    transform: scale(1.05) translateY(1px);
  }

  /* MOBILE */
.main-nav-list-icon{
  list-style: none;
  display: none;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link-icon:link img, .main-nav-link-icon:visited img{
  height: 5.2rem;
  transition: all 0.3s;
}

.main-nav-link-icon:hover img {
  filter: brightness(0) invert(1);
  transform: scale(1.05) translateY(1px);
}

/**************************/
/* HERO */
/**************************/
.section-hero{

}

.hero-layout{
  display: flex;
  /* gap:4.8rem; */
}

.hero-layout img{
  width: 50%;
  border-radius: .6rem 0 0 .6rem;
}

.hero-text-layout{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  border: 1px solid var(--color-gray);
  border-left: 0; 
  border-radius: 0 .6rem .6rem 0;
  padding-left: 3rem;
  background-color: var(--color-frost);
}

.hero-text-layout p{
  font-size: 2.4rem;
}

.hero-title{
  line-height: 3.2rem;
  font-family: "Roboto Mono";
  font-weight: 500;
}

.hero-mtu-layout{
  display: flex;
  flex-direction: column;
}

.hero-mtu-layout img{
  width: 20rem;

}

.hero-mtu-text{
  display: flex;
  flex-direction: column;
  gap: .8rem;
  margin-left: 4.8rem;
  margin-top: -1rem;
}

.hero-mtu-text p{
  color:var(--color-blueblack);
  font-size: 1.6rem;
}

/**************************/
/* PROFESSIONAL */
/**************************/
.section-pro{
}

.section-pro a{
color: var(--color-navy);
}

.link-as-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  rgba(22,26,48, .9);
  /* padding: .5rem; */
  border-radius: .5rem;
  margin-top: 3.2rem;
  margin-bottom: -1rem;
  margin-left: 8%;
  height: 5.8rem;
  width: 22rem;
  transition: all .1s;
}

.link-as-button:active,
.link-as-button:hover{
  background-color: #000;
  border-radius: .6rem;
  transform: scale(1.03);
}

.link-as-button img{
  max-width: 20rem;
}

.link-as-button img:last-child
{
  max-width: 18rem;
}

.logo-background{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  rgba(22,26,48, .9);
  padding: .5rem;
  border-radius: .5rem;
  margin-top: 3.2rem;
  margin-bottom: -1rem;
  margin-left: 8%;
  height: 6rem;
  width: 22rem;
  transition: all .3s;
}

.logo-background:active,
.logo-background:hover{
  background-color: #000;
  border-radius: .6rem;
  transform: scale(1.03);
}

.logo-background img{
  max-width: 20rem;
}

.logo-background img:last-child
{
  max-width: 18rem;
}

.experience-wrapper{
  border: 1px solid var(--color-gray);
  border-radius: .5rem .5rem 0  0;
  padding-bottom: 1.2rem;
  background-color: var(--color-frost);

}

.experience-wrapper a{
  font-weight: 400;
}

.skills-wrapper{
  display: flex;
  margin:2.4rem 10% 1.2rem 10%;
}

.skills-ul{
  width: 25%;
}

.skills-ul li{
  list-style-type:none;
  margin-bottom: .8rem;

  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.skills-ul li:last-child{
  margin-bottom: 0;
}

.sample-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.sample-wrapper span{
  color: white;
}

.sample-wrapper img{
  height: 3rem;
}

.sample-margin{
  margin-bottom: 1.6rem;
}
/**************************/
/* INRTERESTS */
/**************************/
.section-interests{

}

/**************************/
/* ACCOMPLISHMENTS */
/**************************/
.section-acc{
}

.audio-player{
  margin-top: 2.4rem;
  margin-left: 8%;
}

/**************************/
/* CONTACT */
/**************************/
.section-contact{

}

.section-contact .name-pre-logo{
  color:#555;
}


.section-contact-img{
  height: 2rem;
  opacity: .8;
}

.section-contact-img-ohio{
  height: 2.5rem;
  opacity: .8;
  margin:-.3rem;
}

.section-contact-email{
  /* transition: all .1s; */
  height: 3rem;
  width: 10rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  color: white;
}

.section-contact-email:hover,
.section-contact-email:active
{
  /* color: #000;
  transform: scale(1.05); */
}

.section-contact h4{
  color: var(--color-navy);
}

/**************************/
/* SAMPLE PAGE */
/**************************/
.picture-wrapper{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 3rem 2rem 3rem;
}

.sample-p{
  font-size: 1.6rem;
  line-height: 2.2rem;
}